<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backbone tutorial blogroll app</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
    
</head>
<body>
    <div class="container">
    <h1>BackBone Blogroll app</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><input class="form-control author-input" type="text"></td>
                <td><input class="form-control title-input" type="text"></td>
                <td><input class="form-control url-input" type="text"></td>
                <td><button class="btn btn-primary add-blog">Add</button></td>
            </tr>
        </thead>
        <tbody class="blogs-list">

        </tbody>
    </table>
    </div>
    <script type="text/template" class="blogs-list-template">
    <td><span class="author"><%= author%></span></td>
    <td><span class="title"><%= title%></span></td>
    <td><span class="url"><%= url %></span></td>
    <td>
        <button class="btn btn-warning edit-blog">Edit</button>
        <button class="btn btn-danger delete-blog">Delete</button>
        <button class="btn btn-success update-blog" style="display:none">Update</button>
        <button class="btn btn-danger cancel" style="display:none">Cancel</button>
    </td>
    </script>
    <script src="./js/scripts.js"></script>
</body>
</html>